
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
th, td, .fxnode {
    padding: 5px;
}
th, td {
    border-width: 1px 0;
    border-style: solid;
    border-color: #ccc;
}
table {
    border-collapse: collapse;
    border: 1px solid #ccc;
}
td:first-child, th:first-child, td:last-child, th:last-child {
    text-align: right;
}
td:last-child, th:last-child {
    min-width: 60px;
}
fieldset, .fxnode {
    border: 1px solid #ccc;
}
.fxnode {
    float: left;
}
.fxnode h2 {
    margin: 3px 0;
    font-size: 1.2em;
}