/**
 * Some styles from
 *    https://github.com/mdn/webaudio-examples/blob/master/step-sequencer/style.css
 */
:root {
    --orange: hsla(32, 100%, 50%, 1);
    --yellow: hsla(49, 99%, 50%, 1);
    --lime: hsla(82, 90%, 45%, 1);
    --green: hsla(127, 81%, 41%, 1);
    --red: hsla(342, 93%, 53%, 1);
    --pink: hsla(314, 85%, 45%, 1);
    --blue: hsla(211, 92%, 52%, 1);
    --purple: hsla(283, 92%, 44%, 1);
    --cyan: hsla(195, 98%, 55%, 1);
    --white: hsla(0, 0%, 95%, 1);
    --black: hsla(0, 0%, 10%, 1);
    --grey: #cccccc;
    --darkgrey: #999999;
}

* {
    box-sizing: border-box;
    border-radius: 2px;
    border-collapse: collapse;
}

body {
    background-color: var(--white);
    font-family: sans-serif, system-ui;
    color: var(--black);
    text-align: center;
}

input[type="checkbox"] {
    accent-color: var(--yellow);
}

.unit {
    font-family: 'courier';
}

fieldset,
.node {
    margin-bottom: 5px;
}

.node {
    margin-right: 5px;
}

th,
td {
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

fieldset,
.node {
    border: 1px solid var(--grey);
}

th,
td {
    padding: 24px;
}


table,
td:nth-child(2),
input[type=range] {
    width: 100%;
    text-align:left;
}

td:last-child,
th:last-child {
    min-width: 60px;
}

td:first-child,
th:first-child,
td:last-child,
th:last-child {
    text-align: right;
}

input[type="checkbox"] {
    height: 50px;
    width: 50px;
    position: absolute;
    margin-top: -25px;
}

.inactive,
.node.inactive {
    color: var(--grey);
    background-color: inherit;
}


/*  */

input[type=range],
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range] {
    background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
    cursor: pointer;
    background-color: var(--black);
}

input[type=range]:focus::-webkit-slider-thumb,
.fx2 input[type=range]:focus::-webkit-slider-thumb,
.fx4 input[type=range]:focus::-webkit-slider-thumb,
.fx5 input[type=range]:focus::-webkit-slider-thumb,
.fx6 input[type=range]:focus::-webkit-slider-thumb {
    background-color: var(--yellow);
}

/*  */


.fx1 {
    background-color: var(--pink);
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -11px;
    height: 30px;
    width: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--black);
    background-color: var(--purple);
    cursor: pointer;
}

.fx1 input[type="checkbox"] {
    accent-color: var(--purple);
}


/*  */

.fx2 {
    background-color: var(--lime);
}

.fx2 input[type=range]::-webkit-slider-thumb {
    background-color: var(--orange);
}

.fx2 input[type="checkbox"] {
    accent-color: var(--orange);
}

/*  */

.fx3 {
    background-color: var(--blue);
}

.fx3 input[type=range]::-webkit-slider-thumb {
    background-color: var(--yellow);
}
.fx3 input[type="checkbox"] {
    accent-color: var(--yellow);
}

.fx3 input[type=range]:focus::-webkit-slider-thumb {
    background-color: var(--cyan);
}

/*  */

.fx4 {
    background-color: var(--purple);
}

.fx4 input[type=range]::-webkit-slider-thumb {
    background-color: var(--green);
}
.fx4 input[type="checkbox"] {
    accent-color: var(--green);
}

/*  */

.fx5 {
    background-color: var(--orange);
}

.fx5 input[type=range]::-webkit-slider-thumb {
    background-color: var(--blue);
}
.fx5 input[type="checkbox"] {
    accent-color: var(--blue);
}

/*  */

.fx6 {
    background-color: var(--cyan);
}

.fx6 input[type=range]::-webkit-slider-thumb {
    background-color: var(--pink);
}
.fx6 input[type="checkbox"] {
    accent-color: var(--pink);
}